<%- require('./include/head.ejs')({'title' : 'Directory1 : Sample Page', 'listTitle' : 'Sample Page : Guide'}) %>
<body data-pagestatus="new : 2025.08.12">
  <main id="content">
    <div class="sample-element">
      <strong>Inline SVG </strong>
      <div class="sample-box box01">
        <div class="icon-box">
          <span class="ic_apple_24px"></span>
        </div>
        <div class="icon-box">
          <span class="ic_bullet_bold_12px"></span>
        </div>
        <div class="icon-box">
          <span class="ic_bluetooth_24px"></span>
        </div>
        <div class="icon-box">
          <span class="ic_cat_24px"></span>
        </div>
        <div class="icon-box">
          <span class="ic_send_24px"></span>
        </div>
        <div class="icon-box">
          <span class="ic_wifi_24px"></span>
        </div>
      </div>
      <div class="sample-box box02">
        <div class="icon-box">
          <span class="ic_apple_24px"></span>
        </div>
        <div class="icon-box">
          <span class="ic_bullet_bold_12px"></span>
        </div>
        <div class="icon-box">
          <span class="ic_bluetooth_24px"></span>
        </div>
        <div class="icon-box">
          <span class="ic_cat_24px"></span>
        </div>
        <div class="icon-box">
          <span class="ic_send_24px"></span>
        </div>
        <div class="icon-box">
          <span class="ic_wifi_24px"></span>
        </div>
      </div>
      <div class="sample-box box03">
        <div class="icon-box">
          <span class="ic_apple_24px"></span>
        </div>
        <div class="icon-box">
          <span class="ic_bullet_bold_12px"></span>
        </div>
        <div class="icon-box">
          <span class="ic_bluetooth_24px"></span>
        </div>
        <div class="icon-box">
          <span class="ic_cat_24px"></span>
        </div>
        <div class="icon-box">
          <span class="ic_send_24px"></span>
        </div>
        <div class="icon-box">
          <span class="ic_wifi_24px"></span>
        </div>
      </div>
      <div class="sample-box box04">
        <div class="icon-box">
          <span class="ic_apple_24px"></span>
        </div>
        <div class="icon-box">
          <span class="ic_bullet_bold_12px"></span>
        </div>
        <div class="icon-box">
          <span class="ic_bluetooth_24px"></span>
        </div>
        <div class="icon-box">
          <span class="ic_cat_24px"></span>
        </div>
        <div class="icon-box">
          <span class="ic_send_24px"></span>
        </div>
        <div class="icon-box">
          <span class="ic_wifi_24px"></span>
        </div>
      </div>
      <div class="sample-box box05">
        <div class="icon-box">
          <span class="ic_apple_24px"></span>
        </div>
        <div class="icon-box">
          <span class="ic_bullet_bold_12px"></span>
        </div>
        <div class="icon-box">
          <span class="ic_bluetooth_24px"></span>
        </div>
        <div class="icon-box">
          <span class="ic_cat_24px"></span>
        </div>
        <div class="icon-box">
          <span class="ic_send_24px"></span>
        </div>
        <div class="icon-box">
          <span class="ic_wifi_24px"></span>
        </div>
      </div>
      <div class="sample-box box06">
          <div class="icon-box">
            <span class="ic_apple_24px"></span>
          </div>
          <div class="icon-box">
            <span class="ic_bullet_bold_12px"></span>
          </div>
          <div class="icon-box">
            <span class="ic_bluetooth_24px"></span>
          </div>
          <div class="icon-box">
            <span class="ic_cat_24px"></span>
          </div>
          <div class="icon-box">
            <span class="ic_send_24px"></span>
          </div>
          <div class="icon-box">
            <span class="ic_wifi_24px"></span>
          </div>
      </div>
    </div>
    <div class="sample-element">
      <strong>Sprite Image (png)</strong>
      <span class="sp-sample-01"></span>
      <span class="sp-sample-02"></span>
      <span class="sp-sample-03"></span>
      <span class="sp-sample-04"></span>
      <span class="sp-sample-05"></span>
    </div>
  
    <div class="sample-element">
      <strong>CSS VW</strong>
      <p class="vw-sample-text">Please Resize Browser.</p>
    </div>
    
    <div class="sample-element">
			<div class="flexbox-sample">
				<div class="flex-item-sample1"></div>
				<div class="flex-item-sample2"></div>
			</div>
		</div>
		<div class="sample-element">
      <div class="ellipsis-sample">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet massa leo. Duis non nisi dignissim, feugiat diam et, feugiat ligula. Ut tincidunt feugiat lectus, id aliquet ante tempus at.</div>
			<div class="ellipsis-multi-sample">Curabitur diam turpis, eleifend in risus non, feugiat mattis magna. Sed ut aliquam neque, eu efficitur libero. Vestibulum accumsan mollis nisi non tincidunt. Morbi tristique augue id mattis viverra. Nam ultrices massa non egestas convallis. Curabitur porta, mi ut rutrum ultricies, nisi dui scelerisque tellus, ac vulputate ante purus nec magna. Donec efficitur a nibh sed condimentum. Proin nec lorem id lectus iaculis aliquam eu vel ante. Proin id nibh viverra, ultrices libero eu, cursus quam. Vivamus molestie orci id ultrices consequat. Sed egestas placerat ligula. Sed molestie risus augue, id mattis turpis ornare sit amet.</div>
		</div>
  </main>    
</body>
</html>